<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Africana Publishers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
        content="We publish books about South Africa and Africana with a focus on the VOC and the Cape. We welcome text submissions.">
  <meta name="keywords" content="publishers,africana">

  <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.2.1/dist/css/bootstrap.min.css">
</head>

<body>
{% block content %}{% endblock %}
{% include '_footer.html' %}
</body>
</html>