{% extends "base.html" %}

{% block content %}

  <main role="main">

    {% include '_header.html' %}

    <div class="container">

      <h2>Our Books</h2>

      {% for card in boards.get("AfshWztp").list_by_name('books').cards %}
        {% include '_book.html' %}
      {% endfor %}

      <h2 class="my-5">Other books available</h2>

      {% for card in boards.get("AfshWztp").list_by_name('other').cards %}
        {% include '_book.html' %}
      {% endfor %}

    </div>

  </main>
{% endblock content %}